<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>블로그 프로젝트</title>
</head>
<body>
    <!-- <h1>블로그 목록{{count}}</h1> -->
    <nav style="display: flex; justify-content: space-between;">
        <div>
            <a href="{%url 'blog:list'%}">홈</a>
        </div>
        <div style="text-align: right;"t>
            {% if request.user.is_authenticated %}
            <form action="{%url 'logout'%}" method="POST" style="display: inline;">
                {%csrf_token%}
                <button>로그아웃</button>
            </form>
            {{request.user.username}}
            {% else %}
            <a href="{%url 'signup' %}"> <button>회원가입</button> </a>
            <a href="{%url 'login' %}"> <button>로그인</button> </a>
            {% endif %}
        </div>
    </nav>
    {% block content %}{% endblock %}
    <footer>

    </footer>
    {% block js %} {% endblock %}
</body>
</html>